config BOARD_HOLYIOT_25008
	select SOC_NRF54L15_CPUAPP if BOARD_HOLYIOT_25008_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_HOLYIOT_25008_NRF54L15_CPUFLPR || \
		BOARD_HOLYIOT_25008_NRF54L15_CPUFLPR_XIP